---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: "discovery-cron-job-refresh-course-metadata"
  namespace: "{{ K8S_NAMESPACE }}"
spec:
  schedule: "*/15 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: "discovery-refresh-course-metadata"
              image: "{{ DISCOVERY_DOCKER_IMAGE }}"
              imagePullPolicy: IfNotPresent
              command:
                - /bin/bash
                - -c
                - python ./manage.py refresh_course_metadata --partner openedx
              volumeMounts:
                - mountPath: /openedx/discovery/course_discovery/settings/tutor/production.py
                  name: settings
                  subPath: production.py
          restartPolicy: Never
          volumes:
            - name: settings
              configMap:
                name: discovery-settings
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: "credentials-cron-job-copy-catalog"
  namespace: "{{ K8S_NAMESPACE }}"
spec:
  schedule: "*/20 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: "credentials-copy-catalog"
              image: "{{ CREDENTIALS_DOCKER_IMAGE }}"
              imagePullPolicy: IfNotPresent
              command:
                - /bin/bash
                - -c
                - python ./manage.py copy_catalog
              volumeMounts:
                - mountPath: /openedx/credentials/credentials/settings/tutor/production.py
                  name: settings
                  subPath: production.py
          restartPolicy: Never
          volumes:
            - name: settings
              configMap:
                name: credentials-settings
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: "lms-cron-job-cache-programs"
  namespace: "{{ K8S_NAMESPACE }}"
spec:
  schedule: "*/25 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: "lms-cache-programs"
              image: "{{ DOCKER_IMAGE_OPENEDX }}"
              imagePullPolicy: IfNotPresent
              command:
                - /bin/bash
                - -c
                - python ./manage.py lms cache_programs
              env:
              - name: SERVICE_VARIANT
                value: lms
              - name: DJANGO_SETTINGS_MODULE
                value: lms.envs.tutor.production
              volumeMounts:
                - mountPath: /openedx/edx-platform/lms/envs/tutor/
                  name: settings-lms
                - mountPath: /openedx/edx-platform/cms/envs/tutor/
                  name: settings-cms
                - mountPath: /openedx/config
                  name: config
          restartPolicy: Never
          volumes:
            - name: settings-lms
              configMap:
                name: openedx-settings-lms
            - name: settings-cms
              configMap:
                name: openedx-settings-cms
            - name: config
              configMap:
                name: openedx-config
